[Unit]
Description=wizFlux controls the color temperature of wizLights over the course of a day.
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
StandardInput=tty-force
ExecStart=/home/evan/workplace/wizFlux/.venv/wizFlux/bin/python3 /usr/bin/wizFlux.py
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=wizFlux
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target
